In [1]:
import pandas as pd
import os

In [4]:
os.chdir('C:\\Users\Radim\Documents\GitHub\diplomka')
print (os.getcwd())

C:\Users\Radim\Documents\GitHub\diplomka

In [3]:
ctree = pd.read_csv('category_tree.csv')
events = pd.read_csv('events.csv')
item_prop1 = pd.read_csv('item_properties_part1.csv')

In [5]:
print(events.event.value_counts())
print(events.transactionid.nunique())
print(events.visitorid.nunique())

view           2664312
addtocart        69332
transaction      22457
Name: event, dtype: int64
17672
1407580

In [12]:
ctree.loc[ctree['categoryid'] == 888]

     categoryid  parentid
485         888     866.0

In [13]:
item_prop1.head(n=5)

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

In [17]:
from pygraph.classes import digraph 
# gr = digraph()
# gr.add_nodes(set([x for (x,y) in ctree]+[y for (x,y) in ctree]))

# for pair in ctree:
#     gr.add_edge(pair)


PYTHON-GRAPH

ImportError: cannot import name 'digraph'